#admin-header {
	margin-top:0px;
	margin-left: 0px;
	weight:100%;
	height:45px;
	background-color:#222d32;
}

#admin-header #logo {
	padding-top:7px;
	padding-left:10px;
	font-size:18px;
	color: #3c8dbc;
}

#admin-middle {
	margin-top: 1px;
	margin-left: 0px;
	weight:auto;
	height:899px;
}

#admin-middle-sidebar {
	height:100%;
	width:230px; 
	 
	background:#222d32; 
	float:left;
}

#admin-middle-main {
	height:100%;
	overflow:hidden;
	padding-left:10px;
	background:#f0f3f9; 
}

  
.sidebar-header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226; }
    
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #222d32; }
  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0; }
    .sidebar-menu > li > a {
      padding: 12px 5px 12px 15px;
      display: block;
      border-left: 3px solid transparent;
      color: #b8c7ce; }
      .sidebar-menu > li > a > .fa {
        width: 20px; }
    .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
      color: #fff;
      background: #1e282c;
      border-left-color: #3c8dbc; }
    .sidebar-menu > li > .treeview-menu {
      margin: 0 1px;
      background: #2c3b41; }
    .sidebar-menu > li .label,
    .sidebar-menu > li .badge {
      margin-top: 3px;
      margin-right: 5px; }
  .sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226; }
  .sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
  .sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg); }
  .sidebar-menu li.active > .treeview-menu {
    display: block; }
  .sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none; }
  .sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px; }
    .sidebar-menu .treeview-menu .treeview-menu {
      padding-left: 20px; }
    .sidebar-menu .treeview-menu > li {
      margin: 0; }
      .sidebar-menu .treeview-menu > li > a {
        padding: 5px 5px 5px 15px;
        display: block;
        font-size: 14px;
        color: #8aa4af; }
        .sidebar-menu .treeview-menu > li > a > .fa {
          width: 20px; }
        .sidebar-menu .treeview-menu > li > a > .fa-angle-left,
        .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
          width: auto; }
      .sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
        color: #fff; }

#admin-main {
	font-size:50px;
	text-align:center;
	padding-top: 23%;
}

#admin-articleList {
	padding-top: 30px;
	padding-left:10px;
}

#admin-articleList #list {
	font-size:25px;
}

#admin-articleEdit {
	padding-top: 30px;
	padding-left:18px;
	height:100%; 
	
}

#admin-articleEdit #theme-name > p {
	font-size:25px;
	margin-bottom: 10px;
}

#admin-articleEdit #content #right {
	height:100%;
	width:300px; 
	margin-right:25px;
	margin-left:25px;
	float:right;
}

#admin-articleEdit #content #left {
	height:100%;
	overflow:hidden;
	background:#f0f3f9; 
}

#admin-articleEdit #content #left #input {
	margin-bottom: 50px;
}



#admin-articleEdit  #summernote {
	
}

.right {
	float: right;
}

#admin-setup #name { 
	font-size: 25px;
	width: 50%;
}

#admin-setup table { 
	font-size: 20px;
	width: 30%;
}

#kindAdd{
	width: 20%;
}

#adminlistSearch {
	width: 20%;
	float: right;
	margin-right:12%;
}

#articleListOperate {
	width:16%;
}

#articleListOperate a {
	font-size: 20px;
	margin-right: 10px;
}

#articleListOperate .dropdown {
	float:right;
}
